/*
  FONTS
  -------------------
  Mont-Thin.woff2
  Mont-ExtraLight.woff2
  Mont-Light.woff2
  Mont-Regular.woff2
  Mont-RegularItalic.woff2
  Mont-SemiBold.woff2
  Mont-Bold.woff2
  Mont-Heavy.woff2
  Mont-Black.woff2
*/

@font-face {
  font-family: "Mont Thin";
  src: url("https://github.com/me-Oleg/test/raw/refs/heads/main/Mont-Thin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mont ExtraLight";
  src: url("https://github.com/me-Oleg/test/raw/refs/heads/main/Mont-ExtraLight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mont Light";
  src: url("https://github.com/me-Oleg/test/raw/refs/heads/main/Mont-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mont Regular";
  src: url("https://github.com/me-Oleg/test/raw/refs/heads/main/Mont-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mont RegularItalic";
  src: url("https://github.com/me-Oleg/test/raw/refs/heads/main/Mont-RegularItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mont SemiBold";
  src: url("https://github.com/me-Oleg/test/raw/refs/heads/main/Mont-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mont Bold";
  src: url("https://github.com/me-Oleg/test/raw/refs/heads/main/Mont-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mont Heavy";
  src: url("https://github.com/me-Oleg/test/raw/refs/heads/main/Mont-Heavy.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mont Black";
  src: url("https://github.com/me-Oleg/test/raw/refs/heads/main/Mont-Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}